<div class="row">
  <% @candies.each do |candy| %>
    <div class="col-md-4">
    <div class="thumbnail well">
      <h3><a href="/candies/<%= candy.id %>"><%= candy.name.capitalize %></a></h3>
      <h4><%= candy.description.capitalize %></h4>
      
      <h4>Price: <%= candy.price %></h4>
      <br>
    </div>
    </div>
    <% end %>
</div>
      
     
  
